@charset "utf-8";
/* CSS Document */
body, html
{
	margin: 0px 20px 20px 20px;
	padding: 0px;
	text-align: center;
	background-color: #FFF;
	height: 100%;
}
/*////////////////////////////////// ADMIN */
.center
{
	width: 100%;
	height: 100%;
}
.tbl
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FFFFFF;
	border: 1px solid #CCC;
	border-bottom: 2px solid #AAA;
	border-right: 2px solid #AAA;
	border-top-width: 2px;
	border-right-width: 2px;
	border-left-width: 2px;
	border-bottom-width: 1px;
	border-top-style: double;
	border-right-style: double;
	border-left-style: double;
	margin-bottom: 20px;
	/* width: 300px; */
}
.tbl th
{
	font-size: 12px;
	border: 1px solid #CCC;
	background-color: #E7E7E7;
}
.tbl td
{
	border: 1px solid #E7E7E7;
	background-color: #FFF;
	text-align: center;
}
label
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	display: block;
	float: left;
	width: 120px;
	margin: 5px 5px 0px 0px;
}
label i
{
	font-size: 10px;
}
.row
{
	margin: 0px 0px 10px 0px;
}
.special
{
	background-color: #E7E7E7;
	padding: 10px 10px 0px 0px;
	border: 1px solid #CCC;
	margin: 0px 0px 10px 40px;
}
.special label
{
	width: 78px;

}
.reg_field
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 5px;
	width: 100px;
	border: 1px solid #CCC;
	background-color: #FFFFFF !Important;
}
.field
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 5px;
	width: 150px;
	border: 1px solid #CCC;
	background-color: #FFFFFF !Important;
}
.field_small
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 5px;
	width: 90px;
	border: 1px solid #CCC;
	background-color: #FFFFFF !Important;
}
.upload
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	height: 28px;
	/*width: 220px;*/
	background-color: #FFFFFF !Important;
}
.textarea
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 5px;
	border: 1px solid #CCC;
	background-color: #FFFFFF !Important;
	width: 300px;
	height: 100px;
}
.desc
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 5px;
	border: 1px solid #CCC;
	background-color: #FFFFFF !Important;
	width: 350px;
	height: 400px;
}
.date
{
	font-size: 9px;
}
.submit
{
	padding: 5px;
	font-size: 11px !Important;
	cursor: hand;
	cursor: pointer;
	width: 70px;
}
.unblock
{
	padding: 5px;
	font-size: 10px !Important;
	cursor: hand;
	cursor: pointer;
	width: 120px;
}
/*////////////////////////////////// ADMIN LISTING */
.listing
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FFFFFF;
	border: 1px solid #CCC;
	width: 100%;
 	margin: 0px auto 10px auto;
}
.listing .image
{
	width: 70px;
	height: 52px;
	border: 1px solid #CCC;
	background-color: #DDD;
	margin: 0px auto 0px auto;
	float: left;
}
.listing .image img
{
	display: block;
}
.listing .image p
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 12px;
	padding: 0px;
	margin: 15px 0px 0px 0px;
	text-align: center;
}
.listing th
{
	font-size: 12px;
	padding: 5px;
	text-align: left;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	background-color: #E7E7E7;
}
.listing th h1
{
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	display: block;
	color: #FFF;
	line-height: 25px;
	background-color: #993333;
	padding: 0px 5px 0px 5px;
}
.listing td
{
	font-size: 11px;
	text-align: left;
	padding: 5px;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	background-color: #F7F7F7;
}
.listing .norm
{
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	padding: 5px;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	background-color: #FFF;
}
.listing .nopadding
{
	padding: 0px;
}
.full
{
	width: 100%;
}
.full select
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px #CCC solid;
	background-color: #FFF !Important;
}
.noborderr
{
	border-right: 0px none !Important;
}
.noborderb
{
	border-bottom: 0px none !Important;
}
.fill
{
	background-color: #CCC !Important;
}
/*////////////////////////////////// NAV */
.nav
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 30px;
	text-align: left;
	margin: 10px auto 0px auto;
	padding: 0px 0px 0px 32px;
}
.nav li
{
	display: inline;
}
.nav li a
{
	background-color: #FFF;
	color: #000;
	/*font-weight: bold;*/
	text-decoration: none;
	padding: 7px 10px 7px 10px;
	border-left: 1px solid #CCC;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
}
.nav li a:hover
{
	background-color: #CCC;
}
.nav li a.active
{
	background-color: #CCC;
}
/*////////////////////////////////// PREVIEW CONTENT */
#content
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 20px;
}
#content div
{
	border: 1px solid #E7E7E7;
	margin: 0px 0px 20px 0px;
}

#content p
{
	line-height: 16px;
	margin: 10px 5px 10px 5px;
}
#content h2
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #E7E7E7;
	line-height: 25px;
	padding: 0px 0px 0px 5px;
	margin: 0px;
}
#content h3
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin: 0px 0px 20px 5px;
}
#content a
{
	text-decoration: none;
	color: #0000FF;
}
#content a:hover
{
	color: #000066;
}
/*////////////////////////////////// CALENDAR */
#calendar
{
	font-family: Trebuchet MS;
	font-size: 11px;
	text-align: center;
	width: 231px;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
}
#calendar span
{
	margin: 3px 0px 0px 0px;
	display: block;
}
#calendar #mthControls
{
	padding: 5px 0px 0px 0px;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	height: 21px;
}
#calendar .leftArrow
{
	background-image: url(images/icons/left.gif);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0px 0px 0px 5px;
	cursor: hand;
	cursor: pointer;
	float: left;
}
#calendar .rightArrow
{
	background-image: url(images/icons/right.gif);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0px 5px 0px 0px;
	cursor: hand;
	cursor: pointer;
	float: right;
}
#calendar .month
{
	font-weight: bold;
	font-size:12px;
	width: 188px;
	text-align: center;
	float: left;
}
#calendar .days
{
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	width: 32px;
	height: 22px;
	font-weight: bold;
	float: left;
	background-color: #fffde3;
}
#calendar .cell
{
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	width: 32px;
	height: 22px;
	float: left;
	cursor: hand;
	cursor: pointer;
}
#calendar .cellEmpty
{
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	width: 32px;
	height: 22px;
	float: left;
	background-color: #F9F9F9;
}
.datepopup
{
	position: absolute;
	background-image:url(images/icons/arrow.gif);
	background-position: -10px 150px;
	background-repeat: no-repeat;
}
.datepopup .outerframe
{	
	margin: 0px 0px 0px 10px;
	border: 4px solid #D7D7D7;
	text-align: left;
}
.datepopup .frame
{
	padding: 10px;
	border: 1px solid #666;
	background-color: #FFF;
}
.datepopup .frame .row
{
	margin: 5px 0px 5px 0px;
	padding: 5px 0px 5px 0px;
	background-color: #E7E7E7;
}
.datepopup .frame .label
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin: 3px 0px 0px 5px;
	float: left;
	width: 45px;
	display: block;
}
.datepopup select
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: lowercase;
	margin: 0px 5px 0px 0px;
}
.datepopup .insert
{
	text-align: center;
	margin: 0px !Important;
	background-color: #FFF !Important;
}
.datepopup input
{
	font-size: 12px !Important;
	margin: 3px 0px 0px 0px;
}
.datefield
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 5px;
	width: 110px;
	border: 1px solid #CCC;
	background-color: #E7E7E7 !Important;
}
.datefieldicon
{
	border: 0px none;
	vertical-align: middle;
	margin: -4px 5px 0px 0px;
}
#bin
{
	float: left;
}
#bin div
{
	margin: 0px 0px 5px 0px;
}
#bin input
{
	margin: 0px 4px 0px 0px;
}
/*////////////////////////////////// UPLOADS */
#sponsorbin
{
	float: left;
}
#sponsorbin div
{
	margin: 0px 0px 5px 0px;
}
#sponsorbin input
{
	margin: 0px 4px 0px 0px;
}
/*////////////////////////////////// ERRORS */
.err_lbl
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal !Important;
	margin: 0px 20px 20px 20px;
	color: #A82428;
}
.errors
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 10px 20px 20px 20px;
	color: #A82428;
}
.errors li
{
	margin-top: 10px;
}
/*////////////////////////////////// SEARCH */
.search
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.search input
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FFF !Important;
	padding: 3px;
	margin: 0px 10px 0px 10px;
	border: 1px solid #CCC;
}
.search select
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FFF !Important;
	margin: 0px 10px 0px 0px;
	border: 1px solid #CCC;
	padding: 2px;
}
.search a
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	width: 100px;
	height: 22px;
	line-height: 22px;
	background-color: #000;
}
/*////////////////////////////////// TOOLTIP */
.tooltip
{
	position: absolute;
	z-index: 1;
	background-image:url(images/icons/down_arrow.gif);
	background-position: 10px 22px;
	background-repeat: no-repeat;
	height: 32px;
}
.tooltip span
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	line-height: 22px;
	padding: 5px;
	background-color: #000;
	color: #FFF;
}
/*////////////////////////////////// MISCELLANEOUS */
a.linkBU
{
	display: block;
	width: 40px;
	line-height: 28px;
	height: 28px;
	float: left;
	text-align: center;
	color: #000;
	text-decoration: none;
	background-color: #CCC;
	margin: 0px 5px 0px 0px;
}
a.linkBU:hover
{
	color: #FFF;
	background-color: #666;
}
.fileName
{
	line-height: 28px;
	margin: 0px 0px 0px 0px;
}
.highlighted
{
	background-color: #fffacd !Important;
}
.sub_menu
{
	float: right;
	color: #FFF;
	text-decoration: none;
}
.thumbnails
{
	margin: 0px 0px 0px 0px;
}
.thumbnails .image
{
	margin: 0px 4px 0px 0px;
}
.thumbnails img
{
	display: block;
}
form
{
	margin: 0px;
	paddign: 0px;
}
.clear
{
	clear: both;
}
.left
{
	float: left;
	margin: 20px 50px 0px 0px;
}
em
{
	font-style: normal;
	font-size: 12px;
}
.icon
{
	border: 0px none;
	margin: 0px 2px 0px 2px;
	vertical-align: middle;
}
.right
{
	float:right;
}
.top-links {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	margin: 0px;
	padding: 0px;
	display: list-item;
	list-style-type: none;
	text-align: center;
	line-height: 32px;
	color: #000000;
}
.top-links li {
	display: inline;
	margin-right: 1px;
	margin-left: 1px;
}
.top-links a {
	color: #000000;
	text-decoration: none;
}
.top-links a:hover {
	color: #333333;
}
.date-text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	margin: 0px;
	padding: 0px;
	display: list-item;
	list-style-type: none;
	text-align: right;
	line-height: 20px;
	color: #000000;
}