@charset "utf-8";
/* CSS Document */
body, html
{
	margin: 0px;
	padding: 0px;
	background-color: #2C322C;
	font-family: Trebuchet MS ,Arial;
	text-align: center;
}
/*////////////////////////////////// LOGIN */
.tbl
{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	border: 1px solid #CCC;
	border-bottom: 2px solid #AAA;
	border-right: 2px solid #AAA;
	width: 300px;
	margin: 100px auto 0px auto;
}
.tbl th
{
	font-size: 13px;
	border: 1px solid #CCC;
	background-color: #E7E7E7;
}
.tbl td
{
	border: 1px solid #E7E7E7;
	background-color: #FFF;
	text-align: center;
}
.tbl .field
{
	font-family: Trebuchet MS, Arial;
	font-size: 12px;
	padding: 2px;
}
/*////////////////////////////////// NAV */
.nav
{
	font-size: 13px;
	line-height: 30px;
	text-align: left;
	margin: 10px 20px 0px 20px;
	padding: 0px 0px 0px 26px;
}
.nav li
{
	display: inline;
}
.nav li a
{
	background-color: #CCC;
	color: #999;
	font-weight: bold;
	text-decoration: none;
	padding: 7px 10px 7px 10px;
}
.nav li a:hover
{
	color: #000;
	background-color: #ebe8cd;
}
.nav li a.active
{
	color: #000;
	background-color: #ebe8cd;
}
#add_item
{
	float: right;
	border: 1px solid #CCC;
	text-align: right;
	height: 32px;
	line-height: 32px;
	margin: 4px 0px 0px 0px;
	padding: 0px 10px 0px 25px;
	background-image: url(images/icons/add.gif);
	background-repeat: no-repeat;
	background-position: 5px center;
	background-color: #FFF;
	cursor: hand;
	cursor: pointer;
}
#add_item a
{
	text-decoration: none;
	color: #000;
}
#add_item:hover
{
	background-color: #F0F0F0;
}
/*////////////////////////////////// CONTENT */
#content
{
	margin: 0px 20px 0px 20px;
	border: 1px solid #CCC;
	background-color: #fffde3;
}
#inner_border
{
	border: 5px solid #ebe8cd;
	padding: 20px;
}
h1
{
	margin: 0px;
	padding: 0px;
	float: left;
}
h4
{
	float: left;
	padding: 0px;
	margin: 0px;
}
.left
{
	float: left;
	text-align: left;
}
.right
{
	text-align: left;
	float: right;
}
.right h3
{
	margin-left:20px;
}
/*////////////////////////////////// REMINDERS */
.reminders
{
	border: 1px solid #F0F0F0;
	padding: 2px 2px 0px 2px;
}
.reminder
{
	font-size: 12px;
	padding: 3px;
	margin: 0px 0px 2px 0px;
}
.high
{
	background-color: #FFFF66;
}
.medium
{
	background-color: #FFFF99;
}
.low
{
	background-color: #FFFCCF;
}
.reminder .tools
{
	float: left;
}
.reminder em
{
	font-style: normal;
	text-transform: lowercase;
	float: right;
	margin: 0px 10px 0px 0px;
}
.reminder p.title
{
	margin: 0px 0px 0px 10px;
	float: left;
}
/*////////////////////////////////// NOTES */
.notes {
	background-image:url(images/layout/note_arrow.gif);
	background-position: left 10px;
	background-repeat: no-repeat;
	padding-left: 16px;
	font-size: 11px;
	text-align: left;
	width: 350px;
	position: absolute;
}
.notes .note
{
	border: 4px solid #E7E7E7;
	background-color: #FFF;
}
.notes .spacing
{
	border: 1px solid #CCC;
	padding: 10px;
}
.notes .content
{
	height: 100px;
	overflow: auto;
}
/*////////////////////////////////// RESULT */
.listing
{
	font-size: 12px;
	background-color: #FFFFFF;
	border-right: 2px solid #CCC;
	border-bottom: 2px solid #CCC;
	width: 100%;
	margin: 25px auto 0px auto;
}
.listing th
{
	font-size: 12px;
	padding: 5px;
	text-align: left;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	background-color: #ceff9c;
}
.listing .empty
{
	border-top: 0px none;
	border-left: 0px none;
	border-right: 0px none;
	background-color: #FFF;
}
.listing td
{
	font-size: 12px;
	text-align: left;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	padding: 5px;
	background-color: #F7F7F7;
}
.listing .clip
{
	clip: rect(0px,auto,auto,0px);
}
/*////////////////////////////////// FORM */
form
{
	padding: 0px;
	margin: 0px;
}
.submit {
	font-family: Trebuchet MS, Arial;
	font-size: 12px;
	text-transform: capitalize;
	height: 30px;
	cursor: hand;
	cursor: pointer;
}
.buttonRow
{
	text-align: center;
	margin: 10px 0px 0px 0px;
}
.formRow
{
	clear: both;
	margin: 0px 0px 10px 0px;
}
.formRow label
{
	font-size: 12px;
	line-height: 28px;
	width: 100px;
	float: left;
}
.formRow input
{
	font-family: Trebuchet MS, Arial;
	font-size: 12px;
	border: 1px solid #CCC;
	background-color: #FFF !Important;
	padding: 3px;
	width: 170px;
}
.formRow select
{
	font-family: Trebuchet MS, Arial;
	font-size: 12px;
	width: 176px;
}
.formRow textarea
{
	font-family: Trebuchet MS, Arial;
	font-size: 12px;
	border: 1px solid #CCC;
	background-color: #FFF !Important;
	padding: 3px;
	height: 170px;
	width: 250px;
}
.extend
{
	width: 100% !Important;
}
/*//////////////////////////////////////////// ERRORS */
.error
{
	color: #FF0000 !Important;
}
.errorBdr
{
	border: 1px solid #FF0000 !Important;
}
/*////////////////////////////////// WINDOW */
#overlay {
	position: absolute;
	z-index: 0;
	top: 0px;
	left: 0px;
	background-color: #000;
	filter:alpha(opacity=50);
	-moz-opacity: 0.50;
	opacity: 0.50;
}
#window
{
	background-color: #FFF;
	text-align: left;
	position: absolute;
	z-index: 1;
	border: 1px solid #CCC;
	padding: 5px;
	display: block;
}
#holder
{
	padding: 20px 10px 10px 10px;
}
#closer
{
	background-color: #ceff9c;
	height: 30px;
	cursor: move;
}
#closer h1
{
	font-size: 14px;
	text-align: left;
	color: #000;
	line-height: 30px;
	background-image: none;
	padding: 0px 4px 0px 8px;
}
#closeMe
{
	float: right;
	margin: 7px 4px 0px 0px;
	cursor: hand;
	cursor: pointer;
	width: 16px;
	height: 16px;
}
/*////////////////////////////////// MISC */
a
{
	color: #0000FF;
}
.clear
{
	clear: both;
}
.hide
{
	display: none;
}
.icon
{
	vertical-align: middle;
}
.nodata
{
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	text-align: left;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 2px solid #CCC;
	border-bottom: 2px solid #CCC;
	background-color: #E7E7E7;
}
.simple-tbl {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 450px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-left-width: 2px;
	border-bottom-width: 1px;
	border-top-style: double;
	border-right-style: double;
	border-left-style: double;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
	margin-bottom: 20px;
	background-color: #FFFFFF;
}