.denomination{ 
	border-style:none; 
	background-color:transparent;
	padding: 2px 6px;
	}
#denominations-table{
	background-color: #FFFFFF;
	font-family: "Raleway", Helvetica, Arial, sans-serif;
	color: #747474;
	}
#form1sect, #form2sect, #form3sect, #form4sect, #form5sect, #form6sect, #form7sect{
	display: none;
	}
#voucher-div{
	min-height:232px; 
	margin-bottom:10px;
	}
#phoneError{
	color: red;
	display: none;
}
#phone1Error{
	color: red;
	display: none;
}
#nameError{
	color: red;
	display: none;
}
#phoneStar{
	color: red;
	display: none;
}
#phone1Star{
	color: red;
	display: none;
}
#form-md{
	font-family: "Raleway", Helvetica, Arial, sans-serif;
	color: #645d5d;
	
}

#form-md2{
font-family: "Raleway", Helvetica, Arial, sans-serif;
	color: #645d5d;
	padding-top:5px;
	color: #645d5d;
	line-height: 1.8em;
	font-size:16px;

}
#button{
	padding: 15px 0px; 
}
#confirmTable{
	padding-top: 5px; 
	padding-bottom:5px;
	padding-left: 15px;
}
#v-logos{
	 margin-top: 20px; 
	 margin-bottom: 10px;
	 text-align: center;
}
#social-media{
	overflow: hidden;
	width: 41px;
	height: 41px;
	float: left;
	margin-left: 10px;
	border-radius: 23px;
}
#facebook{
	margin-left: 1px;
}
#linkedIn{
	margin-left: -93px;
}
#twitter{
	margin-left: -46px;
}
#googleplus{
	margin-left: -140px;
}
#share{
	margin-left: -190px;
}
#rows{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0 3% 0 15px;
}
#navi-menu li {
	text-align: center;
}
#contact-img{
	width: 30px;
	height: auto;
}
.branches{
	margin: 10px 5px 10px -40px;
	font-family: "Raleway",Helvetica,Arial,sans-serif;
	color: #747474;
	font-size: 15px;
	line-height: 1.7;
}
