div.form{
	top: -3px;
	width: 643.5px;
	height: auto;
	background-color: transparent;
	float: left;
	margin-top: 2px;
}
div.label{
	float: left;
	background-color: #56919C;
	width: 128.688px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Trebuchet MS';
	font-weight: bold;
	text-align: center;
	color: #000000;
}

div.supermarket{
	float: left;
	background-color: #56919C;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 257px;
	font-family: 'Trebuchet MS';
	font-weight: bold;
	text-align: center;
	color: #000000;
	font-stretch: 5px;
}
div.prices{
	width: 386.094px;
	float: left;
}
div.values{
	float: left;
	width: 126.625px;
	height: 20px;
	margin-left: 2px;
	margin-bottom: 2px;
	font-family: 'Trebuchet MS';
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: #e05f5f;
	text-align: center;
	color: #ffffff;
}
div.supermarket_logo{
	float: left;
	background-color: transparent;
	width: 257.391px;
	height: 142px;
	text-align: center;
}
.main_submit{
	width: 126.625px;
	height: auto;
	margin-top: -7px;		
	font-family: 'Trebuchet MS';
	font-weight: bold;
	padding-bottom: 5px;
	padding-top: 5px;
	border-color: transparent;
	color: #ffffff;
	background-color: #e05f5f;
	cursor: hand;
	cursor: pointer;
	text-align: center;
}
.main_submit:hover
{
	width: 126.625px;
	height: 22px;
	margin-top: -7px;
	color: #ffffff;
	display: block;
	text-align: center;
	border-color: transparent;
	font-weight: bold;
	background-color: #30b430;
}
.sold_out{
	width: 126.625px;
	height: auto;
	margin-top: -7px;
	font-family: 'Trebuchet MS';
	font-weight: bold;
	padding-bottom: 5px;
	padding-top: 5px;
	disabled: disabled;
	border-color: transparent;
	color: #ffffff;
	background-color: transparent;
}
div.value_btn{
	float: left;
	width: 126.625px;
	height: 20px;
	margin-left: 2px;
	margin-bottom: 2px;
	padding-top: 7px;
	padding-bottom: 7px;
	font-family: nexarustextras;
	background-color: #e05f5f;
	text-align: center;
	color: #ffffff;
}
div.send_now_div{
	float: left;
	width: 126.625px;
	height: 20px;
	margin-left: 2px;
	margin-bottom: 2px;
	padding-top: 7px;
	padding-bottom: 7px;
	font-family: nexarustextras;
	background-color: #000000;
	text-align: center;
	color: #ffffff;
}
div.sold_out_div{
	float: left;
	width: 126.625px;
	height: 20px;
	margin-left: 2px;
	margin-bottom: 2px;
	padding-top: 7px;
	padding-bottom: 7px;
	font-family: nexarustextras;
	background-color: #000000;
	text-align: center;
	color: #ffffff;
}
.form input[type="submit"]:hover { background: #30b430; }
.form input[type="submit"].sold_out:hover { background: transparent; }

.logo{
	height: 110px;
	max-width: 250px;
	margin: auto;
}
#faqs{
	padding-bottom:20px;
}
.side-header{
	font-size: 20px;
	font-weight: bold;
}
.side-mini-header{
	font-size: 14px;
	font-weight: bold;
	color: #144879;
}