/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,200,100,500,600,700,800,900);*/
/* === fontawesome === */
@import url('font-awesome.min.css');

@font-face {
	font-family: "monserrat";
	 src: 
        url('../fonts/Montserrat-Light.otf') format('truetype'); 
	   -webkit-font-smoothing: antialiased;
       -moz-osx-font-smoothing: grayscale;
   

}

@font-face {
	font-family: "monserrat";
	 src: 
        url('../fonts/Montserrat-UltraLight.otf') format('truetype'); 
	   -webkit-font-smoothing: antialiased;
       -moz-osx-font-smoothing: grayscale;
   

}

@font-face {
	font-family: "monserrat";
	 src: 
        url('../fonts/Montserrat-Regular.otf') format('truetype'); 
	   -webkit-font-smoothing: antialiased;
       -moz-osx-font-smoothing: grayscale;
   

}
/* ==== overwrite bootstrap standard ==== */
@import url('overwrite.css');
@import url('animate.css');
body{
	margin:0;
	/*font-family: "Titillium Web", Helvetica, Arial, sans-serif;*/
	font-family: 'monserrat', Montserrat-Regular, sans-serif;
	background-color:#ededed;
}
body a{
    font-family: 'monserrat',Montserrat-UltraLight, sans-serif;
	color:#777;

	font-size: 1.1em;
	line-height: 1.7em;
	font-weight: 300;
	text-shadow: none;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
	font-family: 'monserrat',Montserrat-Light, sans-serif;
}
p{
	margin:0;
	font-family: 'monserrat',Montserrat-Light, sans-serif;
}
ul,label{
	margin:0;
	padding:5;
	list-style-type:none;
}
body a:hover{
	text-decoration:none;
}
button.btn.btn-default {
  background-color: #5e5e5e;
  color: #fff;
}
div#bs-example-navbar-collapse-1 {
  padding: 0 15px;
}
input.form-control {
  outline: none;
  background-color: #FEFEFE;
}
nav.navbar.navbar-default {
  margin: 0;
}
ul.nav.navbar-nav.navbar-left li {
  margin: 0 0.1em;
}
ul.nav.navbar-nav li a {
  font-size: 17px;
  color: #5d5d5d;
}
ul.nav.navbar-nav li a.category{
  background-color: #00B800;
  color: #FFF;
  border-radius: 15px 15px 0 0;
  border-right: 1px solid;
  padding: 10px 5px !important;
}
ul.nav.navbar-nav li ul.dropdown-menu li a.sub_category{
  background-color: #00B800;
  color: #FFF;
  padding: 2px 5px !important;
  border-bottom: 1px solid;
}
ul.nav.navbar-nav li a:hover ,ul.nav.navbar-nav li a.active{
  /*background-color: #5F9EA0;*/
  color: #000;
  
}
ul.nav.navbar-nav li a.category:hover ,ul.nav.navbar-nav li a.category.active{
  background-color: #FB5900;
  color: #000;
}
ul.nav.navbar-nav li a.category:hover ,ul.nav.navbar-nav li a.category.active{
  background-color: #FB5900;
  color: #FFF;
}
.social-icons {
  display: inline-block;
  float: right;
  padding-top: 0.9em;
}
.social-icons ul li {
  display: inline-block;
  margin-right: 5px;
}
.social-icons a{
	background:url(../images/iconsprite.png)no-repeat 0px 0px;
	display:block;
	width:24px;
	height:24px
}
.social-icons a.fb{
	background:url(../images/iconsprite.png)no-repeat 0px -32px;
}
.social-icons a.gg{
	background:url(../images/iconsprite.png)no-repeat 0px -62px;
}
.social-icons a:hover {
  background: url(../images/iconsprite.png)no-repeat -32px 0px;
}
.social-icons a.fb:hover {
  background: url(../images/iconsprite.png)no-repeat -32px -32px;
}
.social-icons a.gg:hover {
  background: url(../images/iconsprite.png)no-repeat -32px -62px;
}
.header {
     margin: 1.5em 0;
}
a.navbar-brand {
  height: initial;
  line-height: initial;
  padding: 0;
}
button.btn.btn-default {
  border: 1px solid #5E5E5E;
}
.banner{
	background: url(../images/4.jpg) no-repeat 0px 0px;
	background-size: 100%;
	height:250px;
	top:63px;
	position:relative;
    
}

.banner-title h5 {
  font-size: 2em;
  color: #fff;
  text-align: center;
  font-family: 'monserrat',Montserrat-Light, sans-serif;
}
.banner-title h1 {
  font-size: 2.5em;
  margin: .1em 0 0;
  font-weight: 600;
  text-align: center;
  color: #fff;
  font-family: 'monserrat',Montserrat-Light, sans-serif;
  font-style: italic;
}
/*------------------ Slider Part starts Here----------*/

#slider3,#slider4 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks_nav {
  	position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 28%;
  left: 0%;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 51px;
  width: 22px;
  background: transparent url("../images/icons.png") no-repeat 0px -4px;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
  left: auto;
  right: 0%;
  background: url(../images/icons.png)no-repeat -41px -4px;
}
#slider3-pager a ,#slider4-pager a {
  display: inline-block;
}
#slider3-pager span, #slider4-pager span{
  float: left;
}
#slider3-pager span,#slider4-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a , #slider4-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a ,#slider4-pager a{
  padding: 0;
}
#slider3-pager li ,#slider4-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  width:100%;
}
.callbacks_tabs{
		list-style: none;
		position: absolute;
		top: 119%;
		z-index: 111;
		left: 46.5%;
		padding: 0;
		margin: 0;
}
.slider-top{
	text-align: center;
	padding:10em 0;
}
.slider-top h1{
	font-weight:700;
	font-size:48px;
	color:#010101;
}
.slider-top p{
	font-weight:400;
	font-size:20px;
	padding:1em 7em;
	color:#010101;
}
.slider-top ul.social-slide{
	display:inline-flex;
	margin: 0px;
	padding: 0px;
}
ul.social-slide li i{
	width:70px;
	height:74px;
	background:url(../images/img-resources.png)no-repeat;
	display: inline-block;
	margin:0px 15px;
}
ul.social-slide li i.win{
	background-position:-6px 0px;
} 
ul.social-slide li i.android{
	background-position:-110px 0px;
}
ul.social-slide li i.mac{
	background-position:-215px 0px;
}
.callbacks_tabs li{
	display: inline-block;
	margin: 0 .5em;
}
@media screen and (max-width: 600px){
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 16px;
	border-radius: 17px;
	width: 17px;
	display: inline-block;
	background: white;
}
.callbacks_here a:after{
	background: #E4BB07;
}
/*--//slider end here--*/
/*-- banner-bottom--*/

.banner-bottom h3 {
  font-size:20px;
  font-weight: 500;
  color: #645d5d;
  margin-bottom: 0.5em;
  font-family: 'monserrat',Montserrat-Light, sans-serif;
}
.banner-bottom p {
  color: #747474;
  font-size: 15px;
  line-height: 1.7;
}
.banner-bottom a.thumbnail {
  padding: 10px;
  border: 1px solid rgb(189, 189, 189);
}
a.thumbnail:hover {
  border-color: #5F9EA0;
}
/*-- Rectangle In--*/
.hvr-rectangle-in {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -moz-transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -o-osx-font-smoothing: grayscale;
  position: relative;
  background: #5F9EA0;
  transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  -ms-transition-property: color;
  -moz-transition-property: color;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  border-color: #bdbdbd;
}
.hvr-rectangle-in:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #bdbdbd;
  -webkit-transform: scale(1);
  transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transition-property: transform;
  transition-property: transform;
  -o-transition-property: transform;
  -ms-transition-property: transform;
  -moz-transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
}
.hvr-rectangle-in:hover, .hvr-rectangle-in:focus, .hvr-rectangle-in:active {
  color: white;
  background-color: #5F9EA0;
  border-color:  #5F9EA0;
}
.hvr-rectangle-in:hover:before, .hvr-rectangle-in:focus:before, .hvr-rectangle-in:active:before {
  transform: scale(0); 
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -moz-transform: scale(0);
}
/*--// Rectangle In--*/
.features {
  padding: 3em 0;
}
.featur-grids .thumbnail {
  padding: 1.5em;
  background-color: #F4F2F2;
  border: none;
}
.feature-thmbnl .caption{
  padding: 0 !important;
}
.feature-thmbnl h4 {
  font-size: 1.6em;
  margin-bottom: 0.3em;
  font-weight: 400;
}
.feature-thmbnl img {
  border: 10px solid rgb(242, 237, 237);
  box-shadow: 1px 1px 1px rgb(192, 188, 188);
  -webkit-box-shadow: 1px 1px 1px rgb(192, 188, 188);
  -moz-box-shadow: 1px 1px 1px rgb(192, 188, 188);
  -o-box-shadow: 1px 1px 1px rgb(192, 188, 188);
  -ms-box-shadow: 1px 1px 1px rgb(192, 188, 188);
}
.feature-thmbnl h5{
  font-size: 1.3em;
  color: rgb(95, 158, 160);
  margin: 1em 0 0.3em;
}
.feature-thmbnl h5 a{
  color: rgb(95, 158, 160);
}
.feature-thmbnl h5 a:hover{
  color: rgba(242, 114, 66, 0.96);
}
.feature-thmbnl p {
  font-size: 14px;
  margin: 0.5em 0 1em;
  color: #000;
  font-weight: 300;
}
.features h3 {
  font-size: 1.6em;
  font-weight: 500;
  font-style: italic;
  color: #645d5d;
  margin-bottom: 1em;
  font-family: 'monserrat',Montserrat-Light, sans-serif;
}
.about p {
  color: #747474;
  font-size: 14px;
  line-height: 1.5em;
}
span.glyphicon.glyphicon-triangle-right {
  top: 3px;
  right: -2px;
}
.posts .media {
  border-bottom: 2px dotted rgb(186, 180, 180);
}
.media-body h4 {
  font-size: 1.1em;
}
.media-body h4 a{
  color: #313030;
}
.media-body h4 a:hover{
  color: rgb(95, 158, 160);
}
.media-body h5 {
  font-size: 1em;
  font-style: italic;
  color: #313030;
}
.footer {
  /*background-color: #ededed;*/
  background-color: #fff;
  padding: 0 0 2em;
}
.footer h3 {
  font-size: 1.6em;
  font-weight: 500;
  font-style: italic;
  color: #645d5d;
  margin-bottom: 0.8em;
  font-family: 'monserrat',Montserrat-Light, sans-serif;
}

}
/*----blog----*/
.blog {
  padding: 0em 0 5em 0;
}
ol.breadcrumb {
  margin: 0;
}
ol.breadcrumb li {
  font-size: 18px;
}
ol.breadcrumb li a {
  color: #5F9EA0;
  font-size: 20px;
}
.blog-info {
  margin-top: 5em;
}
.blog h4 {
  font-size: 2em;
  font-weight: 600;
  font-style: italic;
  color: #4d4949;
  margin-bottom: 1em;
  font-family: 'monserrat',Montserrat-Light, sans-serif;
}
.blog h4 a{
	color: #4d4949;
}
.blog  h4 a:hover {
	color:#5F9EA0;
	text-decoration:none;
}
.blog-left p {
	margin: 0 0 1em;
	font-size: 15px;
	font-weight: 500;
	color: #555555;
}
.blog-left p a {
	color:#5F9EA0;
}
.blog-left p a:hover{
	color: #555555;
}
.blog-info-text h5 {
	font-size: 15px;
  font-weight: 600;
  margin: 1em 0;
  line-height: 1.7;
  letter-spacing: 0.5px;
}
.blog-info-text h5 a {
	color: #5F9EA0;
	text-decoration:none;
	transition:.5s all;
}
.blog-info-text h5 a:hover{
	color: #555555;
}
.blog-img {
  overflow: hidden;
}
.blog-info-text a img {
  width: 100%;
}
.blog-info-text p {
  margin: 0 0 1.5em;
  font-size: 14px;
  color: #747474;
  line-height: 1.5em;
}
.blog-info-text a img {
  overflow: hidden;
  position: relative !important;
  padding: 0;
}
.single-page  img {
	box-sizing: border-box;
	height: auto;
	max-width: 100%;
}
img.zoom-img {
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	o-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	transition-duration: .5s;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-o-transition-duration: .5s;
	-ms-transition-duration: .5s;
}
img.zoom-img:hover {
	transform: scale(1.08);
	-webkit-transform: scale(1.08);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.08);
	-ms-transform: scale(1.08);
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	-ms-transition-timing-function: ease-in-out;
    -webkit-transition-duration: 750ms;
	-moz-transition-duration: 750ms;
	-o-transition-duration: 750ms;
	-ms-transition-duration: 750ms;
	overflow: hidden;
}
a.list-group-item:hover {
  background-color: #5F9EA0;
  border-color: #5F9EA0;
  color: #fff;
}
.blog-ctgry{
  margin: 5em 0;
}
.recent-posts-info {
	margin-bottom: 4em;
}
.posts-left{
  float: left;
  margin-right: 14px;
  overflow: hidden;
}
.posts-right{
	float:right;
	width: 51%;
}	
.posts-right lable {
	font-size: 14px;
	font-weight: 500;
	color: #989595
}
.posts-right h5{
  font-size: 19px;
  font-weight: 600;
  margin: .5em 0;
}
.posts-right h5 a {
  color: #5E5E5E;
}
.posts-right h5 a:hover{	
	color: #5F9EA0;	
}
.posts-right p {
  color: #4d4949;
  margin: 0 0 1em 0;
  font-size: 14px;
  line-height: 1.5em;
}
.related-posts-grids {
	float: left;
	width: 30%;
	margin-left: 1em;
}
.related-posts-grids img{
	width:100%;
}
.related-posts-grids h5 {
	font-size: 15px;
	font-weight: 600;
	margin: .5em 0;
	color: #1C90F4;
}
.comments-info.cmnts-mddl {
  margin: 4em 0;
}
.comments-info p.cmmnt {
  margin: 1em 0 0 0;
  font-size: 14px;
  line-height: 1.5em;
  color: #6E6D6D;
  font-weight: 300;
}
.cmnt-icon-left {
	float: left;
	width: 25%;
}
.cmnt-icon-right {
	float: right;
	width: 75%;
}
.cmnt-icon-right p {
  margin: 0 0 .2em 0;
  font-size: 14px;
  color: #555555;
}
.cmnt-icon-right  p a{
  color: #5A5858;
  font-size: 15px;
}
.cmnt-icon-right p a:hover{
	color: #5F9EA0;
}
ul.pagination {
  margin: 4em 0 0;
}
ul.pagination li a {
  color: rgb(95, 158, 160) !important;
  font-size: 17px;
  padding: 5px 15px;
}
/*--//blog--*/
/*--testimonial--*/
.testi-info {
  background-color: rgba(95, 158, 160, 0.74);
  padding: 3em;
  margin: 5em 0;
  position: relative;
}
.tesimonial h3 {
  font-size: 2.5em;
  margin: 1em auto;
  font-weight: 600;
  text-align: center;
  color: #5F9EA0;
  font-family: 'monserrat',Montserrat-Light, sans-serif;
  font-style: italic;
  border-bottom: 1px solid rgb(242, 114, 66);
  width: 19%;
}
.testi-left {
  position: absolute;
  top: -16%;
  left: 0%;
}
.testi-left img.img-circle {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50px;
	-ms-border-radius: 50%;
}
.testi-right {
  float: right;
  width: 80%;
}
.testi-info p {
  font-size: 14px;
  margin: 0 0 1em;
  color: #fff;
  letter-spacing: 0.5px;
  line-height: 1.6em;
  font-weight: 200;
}
.testi-info span {
  font-size: 2em;
  font-family: 'monserrat',Montserrat-Light, sans-serif;
}
.testi-info a {
  font-size: 2em;
  color: rgb(254, 254, 254);
}
.testi-info a:hover{
  color: rgb(192, 58, 58);
}
/*--//testimonial--*/
/*--single-page--*/
.single-page{
  background: #fff;
  padding: 0 0 5em;
}
.sngl-title h3 a {
  text-decoration: none;
  transition:.5s all;
}
.sngl-title h3 a:hover{
  color:rgb(58, 205, 188);
}
.single-page h4 {
  font-size: 2em;
  font-weight: 600;
  font-style: italic;
  color: #4d4949;
  margin-bottom: 1em;
  font-family: 'monserrat',Montserrat-Light, sans-serif;
}
.single-page-info a {
  display: block;
}
.sngl-title {
  margin-bottom: 5em;
}
.single-page-left  img {
  width: 100%;
}
.single-page-info h5 {
  font-size: 15px;
  font-weight: 600;
  color: #5F9EA0;
    margin: 1.5em 0 1em;
  line-height: 1.6em;
}
.read-more-grids {
  padding-left: 0 !important;
}
.single-page p {
  color: #989595;
  font-size: 14px;
  line-height: 1.6em;
}
.comment-icons {
	border-top: 1px dashed rgb(95, 158, 160);
	border-bottom: 1px dashed rgb(95, 158, 160);
	padding: 1.5em 0;
	margin: 4em 0;
}
.comment-icons ul {
	margin: 0;
	padding: 0;
}
.comment-icons ul li {
	display: inline-block;
	margin: 0 10px;
	color: #747474;
	font-size: 14px;
}
.comment-icons ul li span{
  background: url(../images/iconsprite.png) no-repeat -63px -20px;
  margin-right: 10px;
  display: inline-block;
  width: 12px;
  height: 17px;
  vertical-align: middle;
}
.comment-icons ul li span.clndr{
	background: url(../images/iconsprite.png) no-repeat -81px -22px;
	width: 17px;
}
.comment-icons ul li span.admin{
  background: url(../images/iconsprite.png) no-repeat -63px -45px;
  width: 15px;
  height: 17px;
}
.comment-icons ul li span.cmnts{
  background: url(../images/iconsprite.png) no-repeat -81px -46px;
  margin-right: 5px;
  width: 17px;
}
.comment-icons ul li a.like{
	background: url(../images/iconsprite.png) no-repeat -63px -66px;
	margin-right: 6px;
	padding-left: 1.5em;
}
.comment-icons ul li a{
  color: #747474;
  font-size: 15px;
  margin: 1em 0;
  display: inline;
}
.comment-icons ul li a:hover{
	color:#5F9EA0;
}
.related-posts {
  padding: 4em 0;
  margin: 0;
}
.related-posts h3{
	margin: 0 0 .6em .3em;
	font-size: 2.5em;
	font-weight: 400;
	color: #E4BB07;
}
.related-grids {
  padding-left: 0 !important;
}
.related-posts img{
	width: 100%;
}
.related-grids h5 {
  font-size: 15px;
}
.related-grids h5 a {
  color: #747474;
}
.related-grids h5  a:hover{
  color: #5F9EA0;
}
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
  border-color: #5F9EA0;
}
.admin-text {
	background:#f3f3f3;
	padding: 2em;
}
.admin-text h5 {
	font-size: 15px;
	margin: 0 0 1em 0;
	font-weight: 600;
	color: #37393d;
	font-family: 'monserrat',Montserrat-Light, sans-serif;
}
.admin-text-left {
	float: left;
	width: 11%;
}
.admin-text-right {
	float: right;
	width: 86%;
}
.admin-text-right p {
  color: #727272;
  font-size: 14px;
  margin: 0 0 1em;
}
.admin-text-right span {
  font-size: 15px;
  margin: 0 0 1em 0;
  font-weight: 500;
  color: #727272;
}
.admin-text-right span a {
	color: #5F9EA0;
	text-decoration:none;
}
.admin-text-right span a:hover{
	color: #838384;
	transition:.5s all;
}
.media.response-info {
  margin-top: 3em;
}
.response-info-mdl {
  margin: 1em 0px 1em 4em;
}
.response {
  margin-bottom: 5em;
}
.media-left.response-text-left {
  width: 11%;
}
.response-text h5 {
	font-size: 15px;
	font-weight: 600;
	margin: 0 0 1em 0;
	color: #fff;
}
.response-text-left h5 a {
	text-decoration: none;
	color: #37393d;
}
.response-text-left h5 a:hover{
	text-decoration: none;
	color:rgb(58, 205, 188);
	transition:.5s all;
}
.response-text-left h5{
  font-weight: 400;
  font-size: 14px;
  margin: 1em 0 0 0;
}
.response-text-right p {
  color: #727272;
  font-size: 14px;
  margin: 0 0 1em;
}
.response-text-right ul{
	padding:0;	
	text-align: right;
}
.response-text-right ul li{
  display: inline-block;
  color: #727272;
  font-size: 13px;
  margin-right: 1em;
}
.response-text-right ul li a{
    color: #5F9EA0;
  font-size: 14px;
  font-weight: 400;
}
.response-text-right ul li a:hover{
	color:#67686b;
	text-decoration:none;
}
.media-left a img {
  width: initial;
}
.coment-form input[type="text"] {
  display: block;
  background: #F3F3F3;
  color: #999;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  width: 70%;
  margin-bottom: 5px;
  outline: none;
  font-size: 13px;
  font-weight: 300;
  padding: 13px 15px;
  font-family: 'monserrat',Montserrat-Light, sans-serif;
}
.coment-form input[type="email"] {
	display: block;
	background: #F3F3F3;
	color: #999;
	border: none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	  width: 70%;
	margin-bottom: 5px;
	outline: none;
	font-size: 13px;
	font-weight: 300;
	padding: 13px 15px;
	font-family: 'monserrat',Montserrat-Light, sans-serif;
}
.coment-form textarea {
	background: #F3F3F3;
	border: none;
	width: 100%;
	display: block;
	height: 150px;
	outline: none;
	font-size: 13px;
	color: #999;
	font-weight: 300;
	resize: none;
	padding: 13px 15px;
}
.coment-form input[type="submit"] {
  background: #F3F3F3;
  padding: .8em 0;
  border: none;
  width: 100%;
  margin-top: .5em;
  font-size: 15px;
  color: #9C9CA0;
  letter-spacing: 0.5px;
  outline: none;
  transition:.5s all;
  -webkit-transition:.5s all;
  -moz-transition:.5s all;
  -o-transition:.5s all;
  -ms-transition:.5s all;
}
.coment-form input[type="submit"]:hover{
	color: #fff;
	background:#5F9EA0;
	outline: none;
}
/*--//single-page--*/
/*--tours--*/
.tour-grids .thumbnail {
  border: none;
  padding: 0;
  margin-bottom: 2.5em;
  overflow:hidden;
}
.caption.tour-caption {
  padding: 1.5em;
  background-color: cadetblue;
}
.caption.tour-caption h3 {
  font-size: 1.3em;
  margin: 0 0 0.2em;
}
.caption.tour-caption h3 a {
  color: #fff;
}
.caption.tour-caption h3 a:hover {
  color: #1C5C5E;
}
.caption.tour-caption p {
  font-size: 14px;
  color: #EDEDED;
}
/*----- Strip -----*/
.b-link-stripe{
	position:relative;
	display:inline-block;
	vertical-align:top;
	font-weight: 300;
	overflow:hidden;
}
.b-link-stripe .b-wrapper{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	text-align:center;
	overflow:hidden;
}
.b-link-stripe .b-line{
	position:absolute;
	top:0;
	bottom:0;
	width:20%;
	background:rgba(15, 207, 140, 0.9);
	transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-ms-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	opacity:0;
	visibility:hidden; /* lt-ie9 */
}
img.img-responsive.glry-img {
  width: 100%;
}
/*------Animation effects------*/
.b-animate-go{
	text-decoration:none;
}
.b-animate{
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	visibility: hidden;	
}
.b-animate img{
	display: -webkit-inline-box;
}
/* lt-ie9 */
.b-animate-go:hover .b-animate{
	visibility:visible;
}
.b-from-left{
	position: absolute;
	left: -100%;
    top: 41%;
}
.b-animate-go:hover .b-from-left{
	left:41%;
}
span.m_4{
	font-size:14px;
	font-weight:400;
}
p.m_5 {
	margin: 2% auto 5%;
	width: 70%;
	color: #283A47;
	font-size: 1.1em;
	font-weight: 600;
	line-height: 1.5em;
	text-align: center;
}
/*--team--*/
.col_1_of_4:first-child {
	margin-left: 0;
}
.span_1_of_4 {
	width: 22.8%;
}
.col_1_of_4 {
	display: block;
	float: left;
	margin: 1% 0 1% 2.6%;
	background: #FFF;
}
.b-wrapper:hover {
	background: rgba(95, 158, 160, 0.68);
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/* lt-ie9 */
.b-link-stripe:hover .b-line{
	visibility:visible;
}
.b-link-stripe .b-line1{
	left:0;
}
.b-link-stripe .b-line2{
	left:20%;
	transition-delay:0.1s !important;
	-moz-transition-delay:0.1s !important;
	-ms-transition-delay:0.1s !important;
	-o-transition-delay:0.1s !important;
	-webkit-transition-delay:0.1s !important;
}
.b-link-stripe .b-line3{
	left:40%;
	transition-delay:0.2s !important;
	-moz-transition-delay:0.2s !important;
	-ms-transition-delay:0.2s !important;
	-o-transition-delay:0.2s !important;
	-webkit-transition-delay:0.2s !important;
}
.b-link-stripe .b-line4{
	left:60%;
	transition-delay:0.3s !important;
	-moz-transition-delay:0.3s !important;
	-ms-transition-delay:0.3s !important;
	-o-transition-delay:0.3s !important;
	-webkit-transition-delay:0.3s !important;
}
.b-link-stripe .b-line5{
	left:80%;
	transition-delay:0.4s !important;
	-moz-transition-delay:0.4s !important;
	-ms-transition-delay:0.4s !important;
	-o-transition-delay:0.4s !important;
	-webkit-transition-delay:0.4s !important;
}
.b-link-stripe:hover .b-line{
	opacity:1;
}
/*--//tours--*/
/*--gallery--*/
.gallery {
  padding-bottom: 5em;
}
.gallery-grids {
    padding: 1em;
}
/*--//gallery--*/
/*--contact--*/
.contact {
  padding-bottom: 5em;
}
.map iframe{
	width:100%;
	height:500px;
}
.contact h4 {
  font-size: 1.8em;
  font-weight: 600;
  font-style: italic;
  color: #645d5d;
  margin-bottom: 1em;
  font-family: 'monserrat',Montserrat-Light, sans-serif;
}
.contact-form {
	padding-top: 3em;
}
.contact-form-left p {
  font-size: 15px;
  color: #747474;
  line-height: 1.5em;
}
.contact input[type="text"] {
  display: inline-block;
  background: none;
  border: 1px solid rgba(189, 189, 189, 0.5);
  width: 31%;
  margin: 0 0 1em 0;
  outline: none;
  font-size: 15px;
  color: #5b5b5b;
  padding: 10px 12px;
}
.contact input[type="email"] {
	display: inline-block;
	background: none;
	border: 1px solid rgba(189, 189, 189, 0.5);
	margin: 0 1em 1em 1em;
	outline: none;
	font-size: 15px;
	color: #5b5b5b;
	padding: 10px 12px;
	width: 32%;
}
.contact textarea {
	display: inline-block;
	background: none;
	border: 1px solid rgba(189, 189, 189, 0.5);
	outline: none;
	font-size: 15px;
	color: #5b5b5b;
	padding: 10px 12px;
	width: 100%;
	resize:none;	
	height: 200px;
}
.contact input[type="submit"] {
  border: 1px solid rgba(189, 189, 189, 0.5);
  padding: .5em 0;
  width: 21%;
  margin-top: 1em;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  outline: none;
  background-color:#5F9EA0;
  transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.contact input[type="submit"]:hover{
	background-color:rgba(242, 114, 66, 0.91);
}
/*--slider-up-arrow--*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 3%;
	right: 3%;
	overflow: hidden;
	width: 31px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/move-up.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*--//slider-up-arrow--*/
/*---- responsive-design -----*/
@media(max-width:1280px){
.banner {
  height: 270px;
}
}
@media(max-width:1024px){
.banner {
 height: 250px;
}
.header .navbar-header {
  width: 17%;
}
a.navbar-brand img {
  width: 100%;
}
.tesimonial h3 {
  width: 23%;
  font-size:1em;
}
.banner-title h1 {
  font-size: 2.2em;
}
.banner-title h5 {
  font-size: 1.9em;
}
.features {
  padding: 2.5em 0;
}
.copy-right p {
  font-size: 15px;
}
.copy-right p a {
  font-size: 15px;
}
.testi-info {
  padding: 2.5em;
}
.testi-left {
  top: -13%;
  width: 19%;
}
.testi-left img {
  width: 100%;
}
.testi-info a {
  font-size: 1.6em;
}
.blog-info {
  margin-top: 4em;
}
.blog-ctgry {
  margin: 4em 0;
}
.blog h4 {
  font-size: 1.7em;
}
.single-page h4 {
  font-size: 1.8em;
}
.posts-left.sngl-img {
  width: 40%;
}
.posts-right {
  width: 55%;
}
.posts-right h5 {
  font-size: 16px;
}
a.btn.btn-primary.hvr-rectangle-in {
  padding: 5px 12px;
  font-size: 13px;
}
.coment-form input[type="submit"] {
  padding: .7em 0;
  font-size: 14px;
}
.contact h4 {
  font-size: 1.7em;
}
.map iframe {
  height: 300px;
}
.contact {
  padding-bottom: 4em;
}
.contact-form-left p {
  font-size: 14px;
}
.contact input[type="text"] {
  width: 32.2%;
  font-size: 14px;
}
.contact input[type="email"] {
  margin: 0 0.5em 1em;
  font-size: 14px;
}
.contact textarea {
  font-size: 14px;
  height: 150px;
}
.contact input[type="submit"]{
  padding: .5em 0;
  margin-top: 0.5em;
  font-size: 15px;
}
}
@media(max-width:768px){
.banner {
  /*min-height: 370px;*/
   min-height: 350px;
}
.header .navbar-header {
  width: 20%;
  margin-top: 0.6em;
}
.header {
  margin: 1em 0;
}
.banner {
  min-height: 250px;
}
.banner-title h1 {
  font-size: 1.9em;
}
.banner-title h5 {
  font-size: 1.7em;
}
ul.nav.navbar-nav li a {
  font-size: 15px;
}
.bb-grids {
  width: 33.33%;
  float: left;
  padding:0.5em !important;
}
.banner-bottom a.thumbnail {
  padding: 7px;
  margin-bottom: 0px;
}
.banner-bottom h3 {
  font-size: 1.4em;
}
.banner-bottom {
  margin-top: 0.3em;
}
.features {
  padding: 1.5em 0;
}
.feature-thmbnl h4 {
  font-size: 1.4em;
}
.featur-grids {
  width: 33.33%;
  padding: 0 .5em !important;
}
.feature-thmbnl img {
  border: 7px solid rgb(242, 237, 237);
}
.feature-thmbnl h5 {
  font-size: 1.1em;
}
.footer {
  padding: 2em 0;
}
.about {
  float: left;
  width: 33.3%;
  padding: 0 .5em !important;
}
.posts {
  float: left;
  width: 33.3%;
  padding: 0 .5em !important;
}
.address {
  float: left;
  width: 33.3%;
  padding: 0 .5em !important; 
  list-style-type:none;  
}
.footer h3 {
  font-size: 1.4em;
}
img.media-object.thumbnail {
  padding: 2px;
}
.gallery {
  padding-bottom: 3em;
}
.gallery-grids {
  width: 25%;
  float: left;
  padding: 0.5em;
}
.tesimonial h3 {
  width: 23%;
  font-size: 2em;
}
.testi-info {
  padding: 1.5em;
  margin: 3em 0;
}
.testi-left {
  top: -10%;
  width: 20%;
}
.blog {
  padding: 0em 0 3em 0;
}
.blog-info {
  margin-top: 3em;
}
.blog h4 {
  font-size: 1.6em;
}
.recent-posts-info {
  width: 50%;
  float: left;
  margin-bottom: 3em;
}
.comments-info {
  float: left;
  width: 33.33%;
}
.comments-info.cmnts-mddl {
  margin: 0;
}
.cmnt-icon-right {
  float: right;
  width: 65%;
}
.cmnt-icon-right p {
  font-size: 13px;
}
.cmnt-icon-right p a {
  font-size: 14px;
}
nav {
  text-align: center;
}
.sngl-title {
  margin-bottom: 4em;
}
ol.breadcrumb li {
  font-size: 17px;
}
ol.breadcrumb li a {
  font-size: 17px;
}
.comment-icons {
  margin: 3em 0;
}
.related-posts {
  padding: 3em 0;
}
.single-page h4 {
  font-size: 1.7em;
}
.related-grids {
  width: 25%;
}
a.thumbnail {
  margin-bottom: 10px;
}
.media-left.response-text-left {
  width: 12%;
}
.response {
  margin-bottom: 3em;
}
.coment-form input[type="text"] {
  padding: 10px 12px;
}
.coment-form input[type="email"] {
  padding: 10px 12px;
}
.coment-form textarea {
  height: 125px;
  padding: 10px 12px;
}
.category {
  margin: 3em 0;
}
.media-body h4 {
  font-size: 1em;
}
.contact {
  padding-bottom: 3em;
}
.contact h4 {
  font-size: 1.6em;
}
.map iframe {
  height: 250px;
}
.contact-form {
  padding-top: 2em;
}
.contact-form-left {
  margin-bottom: 2em;
}
}
@media(max-width:736px){
.social-icons {
  float: none;
}
ul.nav.navbar-nav.navbar-left {
  margin: 0;
}
.social-icons {
  padding-top: 0;
}
ul.nav.navbar-nav.navbar-left li {
  margin: 5px 0;
}
.header {
  margin: 0.5em 0;
}
.header .navbar-header {
  float: left;
  margin: 11px 0 0;
}
form.navbar-form.navbar-right {
  width: 36%;
  float: right;
    margin: 0;
}
.form-group {
  width: 81%;
  float: left;
  margin: 0 !important;
}
button.btn.btn-default {
  float: right;
}
.featur-grids {
  width: 33.33%;
  float: left;
}
}
@media(max-width:667px){
form.navbar-form.navbar-right {
  width: 41%;
}
}

@media(max-width:640px){
.header {
  margin: 1em 0;
}
form.navbar-form.navbar-right {
  padding: 0;
}
.form-group {
  width: 82%;
}
.header .navbar-header {
 margin: 3px 0 0;
  width: 23%;
}
span.icon-bar ,span.icon-bar :hover{
  background-color: #fff !important;
}
button.navbar-toggle , button.navbar-toggle:hover{
 background-color: #ccc !important;
 border-color: #ccc !important;
}
.banner {
  max-height: 250px;
   /* background-position: -47px 0px;*/
}
.banner-title h5 {
  font-size: 1.5em;
}
.banner-title h1 {
  font-size: 1.7em;
}
.callbacks_nav {
  top: 4%;
}
.banner-title {
  padding: 1.5em 0px;
}
.banner-bottom h3 {
  font-size: 1.3em;
}
.banner-bottom p {
  line-height: 1.4em;
}
.features h3 {
  font-size: 1.5em;
}
.feature-thmbnl h4 {
  font-size: 1.3em;
}
.about {
  padding-left: 0 !important;
}
.posts {
   width: 30.3%;
   padding-left: 0 !important;
}
.address {
    padding-right: 0 !important;
  width: 36.3%;
}
.address ul li span {
  margin-right: 5px;
}
.copy-right p {
  font-size: 14px;
}
.copy-right p a {
  font-size: 14px;
}
.tour-grids {
  float: left;
  width: 48.7%;
  padding-right: 0 !important;
}
.caption.tour-caption {
  padding: 1em;
}
.tour-grids .thumbnail {
  margin-bottom: 1.5em;
}
.b-from-left {
  top: 36%;
}
.gallery {
  padding-bottom: 2em;
}
.tesimonial h3 {
  width: 24%;
  font-size: 1.8em;
}
.testi-info p {
  letter-spacing: 0;
  line-height: 1.5em;
    margin: 0 0 0.5em;
}
.testi-info {
  padding: 1em;
  margin: 2.5em 0;
}
.testi-info a {
  font-size: 1.5em;
}
.testi-left {
  top: -9%;
  width: 21%;
}
.blog h4 {
  font-size: 1.5em;
  margin-bottom: 0.8em;
}
.blog-info {
  margin-top: 2em;
}
.blog-left p {
  font-size: 14px;
}
.blog-info-text h5 {
  font-size: 14px;
  margin: 1em 0 .6em;
  line-height: 1.6em;
  letter-spacing: 0;
}
.posts-right h5 {
  font-size: 15px;
}
.recent-posts-info {
  margin-bottom: 2em;
}
.cmnt-icon-right {
  width: 58%;
}
.blog-left {
  padding: 0 ! important;
}
.single-page-right {
  padding: 0 !important;
}
.comments-info {
  width: 33%;
}
ul.pagination {
  margin: 3em 0 0;
}
.blog {
  padding: 0 0 2em 0;
}
ul.pagination li a {
  font-size: 16px;
  padding: 5px 13px;
}
.sngl-title {
  margin-bottom: 3em;
}
.single-page-info h5 {
  font-size: 14px;
  margin: 1em 0 0.5em;
  line-height: 1.5em;
}
.single-page p {
  line-height: 1.5em;
}
.comment-icons ul li {
  font-size: 13px;
  margin: 0 6px;
}
.comment-icons ul li a {
  font-size: 14px;
}
.single-page-left {
  padding: 0 !important;
}
.admin-text h5 {
  font-size: 14px;
}
.admin-text {
  padding: 1.5em;
}
.single-page h4 {
  font-size: 1.6em;
}
.related-grids {
  padding-right: .5em !important;
}
.tesimonial h3 {
  margin: .6em auto;
}
.contact h4 {
  font-size: 1.5em;
  margin-bottom: 0.6em;
}
.contact-form {
  padding-top: 1.5em;
}
.contact-form-left {
  margin-bottom: 1.5em;
}
.contact input[type="text"] {
	width: 33.2%;
  font-size: 13px;
  padding: 8px 10px;
  margin: 0 0 0.8em 0;
}
.contact input[type="email"] {
  font-size: 13px;
  padding: 8px 10px;
  margin: 0 0 0.8em 0;
    width: 32.5%;
}
.contact textarea {
  font-size: 13px;
  height: 125px;
  padding: 8px 10px;
}
.contact input[type="submit"] {
  margin-top: 0.3em;
  font-size: 13px;
  width: 19%;
}
}

@media(max-width:480px){
.header .navbar-header {
  margin: 3px 0 0;
  width: 27%;
}
.form-group {
  width: 80%;
}
form.navbar-form.navbar-right {
  width: 48%;
}
.banner {
  height: 350px;
  background-position:auto;
  
}
.banner-title h5 {
  font-size: 1.3em;
}
.banner-title h1 {
  font-size: 1.5em;
}
.callbacks_nav {
  top: 4%;
  background-size: cover;
  height: 51px;
  width: 19px;
}
.callbacks_nav.next {
  background-position: -31px -4px;
  background-size: cover;
}
.banner-bottom a.thumbnail {
  padding: 4px;
}
.bb-grids {
  padding: 0.3em !important;
}
.banner-bottom h3 {
  font-size: 1.2em;
  
}
.banner-bottom p{
line-height: 1.4em;

}
.features h3 {
  font-size: 1.3em;
}
.featur-grids .thumbnail {
  padding: 1em;
}
.feature-thmbnl h4 {
  font-size: 1.3em;
}
.feature-thmbnl h5 {
  margin: 0.8em 0 0.3em;
}
.feature-thmbnl p {
  font-size: 13px;
}
.featur-grids .thumbnail {
  margin-bottom: 0;
  padding: 0.8em;
}
a.btn.btn-primary.hvr-rectangle-in {
  padding: 4px 9px;
  font-size: 12px;
}
.featur-grids {
  padding-left: 0 !important;
}
.row {
  margin: 0 -10px;
}
.footer h3 {
  font-size: 1.3em;
  margin-bottom: 0.3em;
}
.about {
  padding: 0 !important;
  float: none;
  width: 100%;
}
.posts {
  padding: 0 !important;
  float: none;
  width: 100%;
    margin: 2em 0;
}
.address {
  padding: 0 !important;
  float: none;
  width: 100%;
}
.about p {
  font-size: 13px;
}
.address p {
  font-size: 13px;
}
.address ul {
  margin: 1em 0 0 0;
}
.address ul li {
  padding: .3em 0;
  font-size: 13px;
}
.tour-grids {
  padding-left: 0.5em !important;
}
.caption.tour-caption {
  padding: 1em 0.5em;
}
.caption.tour-caption h3 {
  font-size: 1.2em;
  margin: 0 0 0.3em;
}
.caption.tour-caption p {
  font-size: 13px;
  line-height: 1.3em;
}
.tour-grids .thumbnail {
  margin-bottom: 0.3em;
}
.gallery-grids {
  width: 50%;
}
.b-from-left {
  top: 40%;
}
.tesimonial h3 {
  margin: 0.3em auto;
  width: 33%;
  font-size: 1.7em;
}
.testi-info p {
  font-size: 13px;
}
.testi-info a {
  font-size: 1.4em;
}
.testi-left {
  top: -7%;
}
ol.breadcrumb li a {
  font-size: 16px;
}
ol.breadcrumb li {
  font-size: 15px;
}
.blog-info-text h5 {
  font-size: 13px;
}
.blog h4 {
  font-size: 1.4em;
}
.category {
  margin: 2em 0;
}
.posts-left.sngl-img {
  width: 39%;
  margin-right: 5px;
}
.posts-right {
  width: 58%;
}
.posts-right h5 {
  font-size: 13px;
}
.posts-right p {
  font-size: 13px;
}
.posts-right lable {
  font-size: 13px;
}
.cmnt-icon-left {
  width: 32%;
}
.cmnt-icon-left img {
  width: 100%;
}
.cmnt-icon-right p {
  font-size: 12px;
}
.comment-icons ul li {
  margin: 6px;
}
.comment-icons {
  margin: 2em 0;
  padding: 1em 0;
}
.admin-text h5 {
  font-size: 13px;
}
.admin-text-right p {
  font-size: 13px;
}
.admin-text-right span {
  font-size: 13px;
}
.related-grids h5 {
  font-size: 13px;
}
.media.response-info {
  margin-top: 2em;
}
.single-page p {
  font-size: 13px;
  margin: 0 0 0.5em;
}
.response-text-right ul li {
  font-size: 12px;
}
.response-text-left h5 {
  font-size: 13px;
}
.response {
  margin-bottom: 0.3em;
}
.single-page h4 {
  font-size: 1.4em;
}
.coment-form input[type="submit"] {
  font-size: 13px;
}
.contact h4 {
  margin-bottom: 0.3em;
  font-size: 1.3em;
}
.map iframe {
  height: 200px;
}
.contact-form-left {
  padding: 0 !important;
}
.contact-form-right {
  padding: 0 !important;
}
.contact-form-left p {
  font-size: 13px;
}
.contact input[type="text"] {
  width: 70%;
  padding: 7px 10px;
}
.contact input[type="email"] {
  width: 70%;
  padding: 7px 10px;
}
.contact textarea {
  height: 100px;
  padding: 7px 10px;
}

}
@media(max-width:414px){
form.navbar-form.navbar-right {
  width: 49%;
}
.form-group {
  width: 76%;
}
.banner-title h1 {
  font-size: 1.3em;
  font-weight: 500;
}
.banner-title h5 {
  font-size: 1.1em;
}
.caption.tour-caption h3 {
  font-size: 1em;
  font-weight: 500;
}
}
@media(max-width:384px){
form.navbar-form.navbar-right {
  width: 52%;
}
.header .navbar-header {
  margin: 5px 0 0;
  width: 32%;
}
ul.nav.navbar-nav li a {
  font-size: 14px;
}
ul.nav.navbar-nav.navbar-left li {
  margin: 2px 0;
}
.tour-grids {
  width: 100%;
}
}
@media(max-width:375px){
.banner {
 height:  350px;
 background-position:auto;
}
.banner-bottom h3 {
  font-size: 1em;
}
.features h3 {
  font-size: 1.2em;
}
}
@media(max-width:320px){
form.navbar-form.navbar-right {
  width: 100%;
  /*height:100%;*/
    float: none;
}
a.navbar-brand {
  width: 47%;
}
.header .navbar-header {
  margin: 0 0 1em 0;
  float: none;
  width: 100%;
}
.form-group {
  width: 84%;
}
.banner {
  height:350px;

 
}
.banner-title h5 {
  font-size: 1em;
}
.banner-title h1 {
  font-size: 1.1em;
  font-weight: 500;
}
.callbacks_nav {
  top: -2%;
  left: -3%;
}
.callbacks_nav.next {
  right: -3%;
}
.bb-grids {
  width: 100%;
}
.featur-grids {
 padding: 0 !important;
  float: none;
  width: 100%;
  margin-bottom: 1em;
}
.features {
  padding: 1em 0 .5em;
}
.caption.tour-caption h3 {
  font-size: 1.3em;
}
.gallery-grids {
  width: 100%;
  padding: 0 0 .8em 0;
}
.gallery {
  padding-bottom: 1em;
}
.tesimonial h3 {
  margin: .6em auto;
  width: 46%;
  font-size: 1.5em;
}
.testi-info a {
  font-size: 1.2em;
}
.blog h4 {
  font-size: 1.2em;
}
.blog-info {
  margin-top: 1.5em;
}
.blog-info-text h5 {
  font-size: 13px;
  line-height: 1.4em;
  font-weight: 500;
  margin: 1em 0 .4em 0;
}
.blog-left p.snglp {
  font-size: 13px;
  margin: 0 0 1em;
}
.recent-posts-info {
  margin-bottom: 1.5em;
  width: 100%;
}
.posts-right {
  width: 51%;
}
.posts-left.sngl-img {
  width: 43%;
}
.comments-info {
  width: 100%;
}
.comments-info.cmnts-mddl {
  margin: 1.5em 0;
}
ul.pagination li a {
  font-size: 14px;
  padding: 4px 10px;
}
ul.pagination {
  margin: 2em 0 0;
}
.copy-right p {
  font-size: 13px;
}
.copy-right p a {
  font-size: 13px;
}
ol.breadcrumb li {
  font-size: 14px;
}
ol.breadcrumb li a {
  font-size: 14px;
}
.sngl-title {
  margin-bottom: 1.5em;
}
.single-page-info h5 {
  font-size: 13px;
  margin: 1em 0 0.4em;
  font-weight: 500;
}
.comment-icons {
  margin: 1em 0;
  padding: 0.5em 0;
}
.admin-text h5 {
  font-size: 12px;
}
.admin-text-left {
  width: 19%;
}
.admin-text-right {
  width: 76%;
}
.related-grids {
  width: 100%;
  margin-bottom: 0.3em;
}
.related-grids h5 {
  font-size: 14px;
}
.related-posts {
  padding: 2em 0 .5em;
}
.row {
  margin: 0 -4px;
}
.response-text-right ul li a {
  font-size: 13px;
}
.coment-form input[type="text"] {
  width: 100%;
  padding: 8px 10px;
}
.coment-form input[type="email"] {
  width: 100%;
  padding: 8px 10px;
}
.map iframe {
  height: 150px;
}
.contact h4 {
  margin-bottom: 0.3em;
  font-size: 1.2em;
}
.contact input[type="text"] {
  width: 100%;
  padding: 6px 8px;
}
.contact input[type="email"] {
  width: 100%;
  padding: 6px 8px;
}
.contact input[type="submit"] {
  margin-top: 0.3em;
  font-size: 13px;
  width: 28%;
}
}


/*changing the navbar size*/

@media (min-width: 1200px) {
	.container{
		max-width: 80%;
		width: 80%;
		margin-left:10%;
	}

}
/*
@media (max-width: 800px) {
	.container{
		max-width: 80%;
		width: 100%;
		margin-left:10%;
	}

}*/
.navbar-brand
{
    position: absolute;
    width: 100%;
    right: 0;
    margin: auto;
    margin-right: 48%;
}
.navbar-default {
   background-color:#fff;
  box-shadow:0px 0px 5px #111111;
}
.navbar > .container > div
{

  }
  /*spacing the footer items*/
 #spacing{ 
 padding:5px 15px 15px 35px;
 margin-top:10px;
 
 }
 #separate{
 margin-top:30px;
 list-style: none;
 

 }
 .address p {
  color: #747474;
  font-size: 12px;
}

.address ul li {
  display: block;
  font-size: 12px;
  color: #747474;
  
}
.address  li a{
	text-decoration: none;
	color: #747474;
}
.address ul li a:hover{
	color:#5F9EA0;
}
.address ul li span{
  background: url(../images/iconsprite.png)no-repeat -84px 0px;
  margin-right: 10px;
  display: inline-block;
  width: 9px;
  height: 11px;
  vertical-align: middle;
}
.address ul li span.ph-no{
   background: url(../images/iconsprite.png)no-repeat -95px 0px;
   width: 12px;
}
.address ul li span.mail{
	background: url(../images/iconsprite.png)no-repeat -63px 0px;
    width: 12px;
}
.copy-right {
  background-color: #bdbdbd;
  padding: 1.5em 0;
}
/*the content of airtym*/

.content_box{
	box-shadow: 0 0px 0 5px #E8E5AD;
	-webkit-box-shadow: 0 0px 0 5px #E8E5AD;
	-moz-box-shadow: 0 0px 0 5px #E8E5AD;
	-o-box-shadow: 0 0px 0 5px #E8E5AD;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	background:#fff;
	border: 1px solid #D2CF99;
}
.content_box a{
	text-decoration:none;
}
.content_box-grid{
	padding:1em 0.5em;
}
p.m_1{
	color:#000;
	padding:0em 0em 1em;
	font-size:0.8125em;
	line-height:1.5em;
}
ul.product_but{
	padding:0;
	list-style:none;
	margin-top: 0.7em;
}
ul.product_but li.but3{
	float:left;
}
ul.product_but li.but3{
	background: #FEFEFA;
	background: -moz-linear-gradient(top, #fefefa 0%, #f7f6df 49%, #f3f1ce 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEFA), color-stop(49%,#F7F6DF), color-stop(100%,#F3F1CE));
	background: -webkit-linear-gradient(top, #FEFEFA 0%,#F7F6DF 49%,#F3F1CE 100%);
	background: -o-linear-gradient(top, #fefefa 0%,#f7f6df 49%,#f3f1ce 100%);
	background: -ms-linear-gradient(top, #fefefa 0%,#f7f6df 49%,#f3f1ce 100%);
	background: linear-gradient(to bottom, #FEFEFA 0%,#F7F6DF 49%,#F3F1CE 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefa', endColorstr='#f3f1ce',GradientType=0 );
	display: inline-block;
	border: none;
	color: #FE6847;
	outline: none;
	font-size: 0.75em;
	-webkit-appearance: none;
	text-transform: uppercase;
	padding:2px 25px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border: 1px solid #D2CF99;
	font-weight: bold;
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	-o-border-radius: 2em;
	text-decoration:none;
	box-shadow: 0px 1px 0px 1px #e7e5b9;
-webkit-box-shadow: 0px 1px 0px 1px #e7e5b9;
-moz-box-shadow: 0px 1px 0px 1px #e7e5b9;
-o-box-shadow: 0px 1px 0px 1px #e7e5b9;
}
ul.product_but li.but3:hover{
	background: #f3f1ce;
	background: -moz-linear-gradient(top,  #f3f1ce 0%, #f7f6df 51%, #fefefa 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f1ce), color-stop(51%,#f7f6df), color-stop(100%,#fefefa));
	background: -webkit-linear-gradient(top,  #f3f1ce 0%,#f7f6df 51%,#fefefa 100%);
	background: -o-linear-gradient(top,  #f3f1ce 0%,#f7f6df 51%,#fefefa 100%);
	background: -ms-linear-gradient(top,  #f3f1ce 0%,#f7f6df 51%,#fefefa 100%);
	background: linear-gradient(to bottom,  #f3f1ce 0%,#f7f6df 51%,#fefefa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f1ce', endColorstr='#fefefa',GradientType=0 );
}
  color: #645d5d;
  font-size: 16px;
  text-align: center;
}
.copy-right p a {
  color: #645d5d;
  font-size: 16px;
}
.copy-right p a:hover{
  color: rgb(192, 58, 58);
  text-decoration: underline;
 
 
}

/*Adding background image to the web page*/
#bgimgs{
background-image:url('../images/banner.jpg');
background-repeat:no-repeat;
background-position:center;
background-size: 100%;


}
/*changing the bootsrap default button colors*/

.btn-green {
    background: #00B800;
    border-color:#00B800;
	color: #ffffff;
	font-family: 'monserrat',Montserrat-Light, sans-serif;
}


.btn-green:hover {
    background: #009300;
    border-color:#009300;
	 color: #ffffff;
}

.btn-black {
    background: #595959;
    border-color:#595959;
	 color: #ffffff;
	font-family: 'monserrat',Montserrat-Light, sans-serif;
}

.btn-black:hover {
    background: #595959;
    border-color:#595959;
	 color: #ffffff;
}
#emphaz{
     font:18px;
	 font-weight:bold;
	 color: #00B800;

}
#mainhd{
color: #00B800;
font-weight:600px;
font-size:28px;
}
/*changing the header in panle*/
.gn {
   background: #00B800;
  color: #ffffff;
	
	}
#fontchanger  p{
    font-family: 'monserrat',Montserrat-Light, sans-serif;
 font-size:15px;
 color:#000;
}	
#spacingcards{
padding-top:5px;
}
@media(max-width:700px){
	.sm-btn{
		width: 100%;
		margin-top: 3px;
		float: none;
	}
}

/*these are conditions for controling the banner width and height*/

@media(max-width:979px),(max-width: 768px), (max-width: 640px),(max-width: 480px),(max-width: 420px),(max-width: 375px ) and(max-width: 320px ){
.banner{
	background: url(../images/2.jpg)  no-repeat 0px 0px;
	background-size: 100%;
	height:350px;
    position:relative;
    top:63px;   
}
   
}
/*these are conditions for controling the banner2 width and height*/
@media (max-width: 290px) {
   .container{
		margin-left: -15%;
    }
}

@media (max-width: 414px) {
/*adjusting the alignment of the selection drop down*/
	.form-group{
		margin:0 0 15px 0 ! important;
		width:99% ! important;
	}
}

@media (min-width: 414px) {
/*adjusting the alignment of the selection drop down*/
	.form-group{
		margin:0 0 15px 0 ! important;
	}
}
.right-alitle{
	padding-left: 15px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 0px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.panel-default>.panel-heading {
    color: #FFF;
    background-color: #00B800;
    border-color: #ddd;
}
.category-lead{
	line-height: 4;
	font-size: 13px;
	margin:0 2px;
	text-decoration: none;
	color: #FFF;
	display:none;
}
a.category-lead:focus, a.category-lead:hover {
    color: #FFF;
}
#category-header{
	border-radius: 15px 15px 0 0;
    background-color: #FB5A00;
	border-right: 2px solid #FFF;
}
.navbar {
    margin-bottom: 0px;
}
@media (max-width: 768px){
	.category {
		/*margin: 3em 0;*/
		margin: 0.4em 0;
	}
}

#category-navbar-toggle {
    padding: 3px 10px;
}
#navbar-collapse {
	padding-left:0px;
}

@media (max-width: 810px){
	ul.nav.navbar-nav li a.category {
		padding: 10px 20px !important;
	}
}

@media (max-width: 810px){
	ul.nav.navbar-nav li ul.dropdown-menu li a.sub_category{
		padding: 2px 20px !important;
	}
}

.merchant-image{
	max-width:100%;
}

.shade{
	background-color: #FB5A00;
	border-top: 1px outset #FFF;
	border-bottom: 1px solid #FFF;
}

.free{
	padding-right: 0px;
    padding-left: 0px;
}

i{
	padding-right: 10px;
}

@media (max-width: 280px) {	 
  .navbar-header img{
	width: 60%;
  }
}

#ban{
	padding:60px 0px;
	margin-bottom: -3%;
}

#ban img{
	width:100%;
	max-height:270px;
}

@media(max-width:768px){
	#ban img{
		max-height:270px;
	}
}

@media screen and (max-width:768px)and (min-width: 450px){
	.col-xs-4{
		width:50%;
	}
}
@media screen and (max-width:449px){
	.col-xs-4{
		width:100%;
	}		
}
#denominations-table td input[type=submit]:hover{
	font-size: 15px;		
	font-weight: bold;
	color:#fff;
	background-color:#00B800;
	text-align:center;
	padding:0px 10px;
	position: relative;
	-webkit-transform: scale(1.15) !important;
	-moz-transform: scale(1.15) !important;
	-o-transform: scale(1.15) !important;
	transform: scale(1.15) !important;
	z-index: 7;
}